body {
    background-color: white;
}

.header {
    height: 250px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

img {
    height: 250px;
    width: auto;
}


.contenedor {
    width: 100%;
    height: auto;
    padding-bottom: 3px;
    padding-top: 5px;
    background-color: #e4e3d9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-decoration: none;

}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    display: inline-block;
}

footer {
    color: black;
    background-color: #e4e3d9;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}





.Cont1 {
    background-color: white;
    color: #f15b5b;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
}

p {
    font-family: 'Architects Daughter', cursive;
    margin: 5px;
}

.ol {
    list-style: square inside;
}

.item {

    border: #00B7CE solid;

}

.item:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.btn1 {
    justify-content: center;
    color: white;
    background-color: #faa61a;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
    border-radius: 10px;
    border: solid #00B7CE;
    text-shadow: 5px 5px 5px black;

}

.btn2 {
    color: white;
    background-color: #F5CF00;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
    border-radius: 10px;
    border: solid #00B7CE;
    text-shadow: 5px 5px 5px black;

}

.btn3 {
    color: white;
    background-color: #20a2b3;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
    border-radius: 10px;
    border: solid #00B7CE;
    text-shadow: 5px 5px 5px black;
}

.btn4 {
    color: white;
    background-color: #f15b5b;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
    border-radius: 10px;
    border: solid #00B7CE;
    text-shadow: 5px 5px 5px black;
}

.btn5 {
    color: white;
    background-color: #faa61a;
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
    border-radius: 10px;
    border: solid #00B7CE;
    text-shadow: 5px 5px 5px black;
}

.btn1:hover {
    background-color: indigo;
}

.btn2:hover {
    background-color: indigo;
}

.btn3:hover {
    background-color: indigo;
}

.btn4:hover {
    background-color: indigo;
}

.btn5:hover {
    background-color: indigo;
}


.fondo {
    display: grid;
}

@media only screen and(min-width:360px) {
    .fondo {
        background-color: #00B7CE;
    }
}

@media only screen and (min-width:480px) {
    .fondo {
        background-color: #f15b5b;
    }
}

@media only screen and (min-width: 768px) {
    .fondo {
        background-color: #F5CF00;
    }



}

@media only screen and (min-width: 1024px) {
    .fondo {
        background-color: white;

    }

}

.breadcrumb {
    margin-top: 2px;
    margin-left: 30%;
    text-decoration: none;
    text-align: right;
}

.conteiner {
    margin-top: 20px;
    margin-left: 33.3%;
    margin-right: 33.3%;
    margin-bottom: 20px;
}

.carousel-item:hover {
    transform: scale(1.2);
    transition: 0.5s;
    filter: none;

}

.breadcrumb-item {
    margin-top: 20px;
    text-decoration: none;

}

/*-----BEM---*/
.roc {
    background-color: white;

}

.roc__roc1 {
    color: green;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: xx-large;
    align-content: center;
}

.roc__roc2 {
    color: green;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: xx-large;
    align-content: center;

}

.roc__video {
    border: 2px solid black;
    align-self: center;
    margin-top: 25px;
    margin-left: 30%;
    margin-bottom: 25px;
}

.roc__roc2__p--color {
    margin: 35px;
}


.gal {
    margin-top: 5px;
    color: #f15b5b;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: x-large;
    width: 100%;
    background-color: white;

    .gal__grid {
        width:auto;
        height: auto;
        background-color: white;
        margin-left: 5%;
        padding: 25px;
        display: grid;
        grid-template-areas: "item1 item2 item3 item4"
            "item5 item6 item7 item8"
            "item9 item10 item11 item12";



        .item {
            height: 250px;
            width: 250px;
            background-color: white;
            border: #00B7CE solid;
            border-radius: 5px;
            margin-bottom: 10px;


        }

        .item:hover {
            transform: scale(1.2);
            transition: 0.5s;

        }

        #item1 {
            background-image: url(../Multimedia/item1.jpg);
            background-size: cover;
        }

        #item2 {
            background-image: url(../Multimedia/item2.jpg);
            background-size: cover;
        }

        #item3 {
            background-image: url(../Multimedia/item3.jpg);
            background-size: cover;
            background-position: center;
        }

        #item4 {
            background-image: url(../Multimedia/item4.jpg);
            background-size: cover;

        }

        #item5 {
            background-image: url(../Multimedia/item5.jpg);
            background-size: cover;

        }

        #item6 {
            background-image: url(../Multimedia/item6.jpg);
            background-size: cover;

        }

        #item7 {
            background-image: url(../Multimedia/item7.jpg);
            background-size: cover;
        }

        #item8 {
            background-image: url(../Multimedia/item8.jpg);
            background-size: cover;
        }

        #item9 {
            background-image: url(../Multimedia/item9.jpg);
            background-size: cover;
        }

        #item10 {
            background-image: url(../Multimedia/item10.jpg);
            background-size: cover;
        }

        #item11 {
            background-image: url(../Multimedia/item11.jpg);
            background-size: cover;
        }

        #item12 {
            background-image: url(../Multimedia/item12.jpg);
            background-size: cover;
        }


    }

}

.gal__gal1 {
    color: #00B7CE;
    text-align: center;
}

.inicio {
    color: #f15b5b;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: xx-large;
    justify-items: center;
    margin-bottom: 25px;
}

.inicio__secciones {
    color: #00B7CE;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.inicio__secciones__contenido {
    text-align: start;
    margin: 25px;
}

.conocenos {
    text-align: center;
    color: #f15b5b;
    font-family: 'Architects Daughter', cursive;
    font-size: xx-large;
    margin-top: 25px;
}

.conocenos__contenido {
    text-align: start;
    margin: 25px;
}

.conocenos__video {

    align-self: center;
    margin-top: 25px;
    margin-left: 30%;
    margin-bottom: 25px;

}
/*portada*/

.bodyp {
    width: 100%;
    height: 100vh;
    background-image: url("../Multimedia/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
  
}

.btnp {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    padding: 2rem 2rem 2rem 2rem;
   

}
.contenedorp {
  
    width: 100%;
    height: 120px;
    margin-top: 20%;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color:rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
   
}